:root{
    --color1: #6F442D;
    --color2: #674F3C;
    --color3: #528E69;
    --color4: #FBAF74;
    --color5: #c8a97e;
    --color-texto: #3a2a1a;
    --color-fondo: #fffdf9;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-fondo);
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4e2d0; ;
    color: var(--color-texto);
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    font-size: 1.2rem;
}

.cabecera__enlaces {
    width: 30rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

li > a{
    text-decoration: none;
    color: var(--color-texto);
}

a:hover{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.cabecera__titulo {
    font-size: 3.5rem;
}



.pie{
    margin-top: 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url("/assets/images/madera1.jpg");
    color: var(--color-fondo);
}


.pie section {
    margin-bottom: 1.5rem;
}

.pie a {
    color: #ffe6c9;
    text-decoration: none;
}

.pie a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.pie__horario p {
    margin-top: 0.5rem;
}

