/* ============================= */
/*         ROOT Y RESET          */
/* ============================= */

:root {
    --color-fondo: rgba(61, 32, 12, 0.85);
    --cafe-oscuro: #4b2e19;
    --cafe-medio: #7a5230;
    --cafe-claro: #bfa58a;
    --crema: #f7f2eb;
    --crema-suave: #f3e9db;
    --texto: #3b3028;
    --blanco: #ffffff;

    /* */
    --footer-fondo: #111;
    --footer-texto: #eee;
    --footer-borde: #333;
    --footer-copy: #aaa;

    --borde-suave: #ddd;
    --input-borde: #ccc;

    --sombra-suave: rgba(0,0,0,0.1);
    --sombra-media: rgba(0,0,0,0.2);
    --sombra-aside: rgba(0,0,0,0.08);

    --hover-claro: rgba(255,255,255,0.2);
    /* */

    --titulos: 'Georgia', serif;
    --texto-principal: 'Arial', sans-serif;

    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--crema);
    font-family: var(--texto-principal);
    color: var(--texto);

}

/* ============================= */
/*            HEADER             */
/* ============================= */

.encabezado {
    background: var(--color-fondo);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--crema);
    padding: 2rem 1rem;
}

.encabezado__titulo {
    font-family: var(--titulos);
    font-size: 2.4rem;
    margin: 0;
}

.encabezado__subtitulo {
    font-size: 1.05rem;
    padding-top: .4rem;
    display: block; 
}



.navegacion__lista {
    padding-top: 1.2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    padding-left: 0;
    margin: 0;
}

.navegacion__enlace {
    text-decoration: none;
    color: var(--crema);
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem .9rem;
    border-radius: 6px;
    transition: background-color 0.25s ease, transform 0.25s ease, opacity 0.25s ease;
}

.navegacion__enlace:hover {
    background: var(--hover-claro);
    transform: scale(1.12);
    opacity: 0.9;
}


/* ============================= */
/*            FOOTER             */
/* ============================= */

.pie {
    background: var(--footer-fondo);
    color: var(--footer-texto);
    padding: 1.5rem 1rem;
}

.pie__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--footer-borde);
}

.pie__bloque--izquierda {
    text-align: left;
}

.pie__bloque--derecha {
    text-align: right;
}

.pie__titulo {
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 0.5rem;
}

.pie__texto {
    font-size: 0.95rem;
    margin: 0;
}


.pie__direccion {
    font-size: 0.95rem;
    margin: 0;
}


.pie__enlace {
    color: var(--footer-texto);
    text-decoration: none;
}

.pie__enlace:hover {
    text-decoration: underline;
}

.pie__copy {
    margin: 0;
    padding-top: 1rem;
    text-align: center;
    font-size: 0.85rem;
    color: var(--footer-copy);
}






/* ============================= */
/*            INDEX              */
/* ============================= */

.contenido {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 2rem 3rem 2rem; 
}

.bienvenida {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 1rem;
    gap: 2.5rem;
    align-items: center;
}

.bienvenida__titulo {
    font-family: var(--titulos);
    font-size: 2.3rem;
    color: var(--cafe-oscuro);
    margin: 0;
}


.bienvenida__parrafo {
    padding-bottom: 1rem;
    margin: 0;
}

.bienvenida__boton {
    display: inline-block;
    background: var(--cafe-medio);
    color: var(--blanco);
    padding: .8rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.bienvenida__boton:hover {
    background: var(--cafe-oscuro);
}

.bienvenida__imagen img {
    width: 100%;
    border-radius: 12px;
}

.bienvenida__descripcion {
    margin: 0;
    padding-top: 0.5rem;
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
}



.favoritos {
    padding: 2.5rem;
    background: var(--crema-suave);
}

.favoritos__titulo {
    font-family: var(--titulos);
    font-size: 2rem;
    color: var(--cafe-medio);
    margin: 0;
    padding-bottom: 1rem;
}

.favoritos__item {
    padding: 1.5rem 0;
}

.favoritos__nombre {
    margin: 0;
    padding-bottom: 0.5rem;
}

.favoritos__texto {
    margin: 0;
}





.compromiso {
    padding: 2.5rem;
}

.compromiso__titulo {
    font-family: var(--titulos);
    font-size: 2rem;
    color: var(--cafe-medio);
    margin: 0;
    padding-bottom: 1rem;
}

.compromiso__texto {
    margin: 0;
    padding-bottom: 1rem;
}

.compromiso__lista {
    margin: 0;
    padding-left: 1.5rem;
}




.servicios {
    padding: 3rem 2rem;
    padding-bottom: 6rem; 
    max-width: 1000px;
    margin: 0 auto;
}

.servicios__intro {
    text-align: center;
    padding-bottom: 3rem;
}

.servicios__titulo {
    font-family: var(--titulos);
    font-size: 2.3rem;
    color: var(--cafe-oscuro);
    margin: 0;
}

.servicios__descripcion {
    font-size: 1.1rem;
    max-width: 650px;
    margin: 0 auto;
    padding: .5rem 0;
}

.servicios__categoria {
    border-bottom: 3rem solid var(--crema); 
    background: var(--crema-suave);
    padding: 2rem;
    border-radius: 10px;
}

.servicios__subtitulo {
    font-family: var(--titulos);
    font-size: 1.7rem;
    color: var(--cafe-medio);
    margin: 0;
    padding-bottom: 1.5rem;
}


.servicios__item {
    padding-bottom: 2rem;
}

.servicios__item-header {
    padding-bottom: .5rem;
}

.servicios__item-titulo {
    font-size: 1.3rem;
    color: var(--cafe-oscuro);
    margin: 0;
}

.servicios__item-texto {
    line-height: 1.6;
    margin: 0;
}


.servicios__item--imagen {
    background: var(--crema);
    padding: 1.5rem;
    border-radius: 10px;
}

.servicios__figure {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

.servicios__imagen {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--sombra-media);
}

.servicios__figcaption {
    font-size: .9rem;
    opacity: .8;
    display: block;
    padding-top: .5rem;
}



/* ============================= */
/*            ABOUT              */
/* ============================= */

.sobre {
    padding: 3rem 2rem;
    padding-bottom: 6rem;
    max-width: 900px;
    margin: 0 auto;
}

.sobre__bloque {
    background: var(--crema-suave);
    padding: 2rem;
    border-radius: 12px;
    border-bottom: 2.5rem solid var(--crema);
}

.sobre__cabecera {
    padding-bottom: 1rem;
}

.sobre__titulo {
    font-family: var(--titulos);
    font-size: 2.2rem;
    color: var(--cafe-medio);
    margin: 0;
}

.sobre__subtitulo {
    font-family: var(--titulos);
    font-size: 1.6rem;
    color: var(--cafe-oscuro);
    margin: 0;
    padding-bottom: 1rem;
}

.sobre__texto {
    line-height: 1.6;
    margin: 0;
    padding-bottom: 1rem;
}

.sobre__figure {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

.sobre__imagen {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--sombra-media);
}

.sobre__descripcion {
    font-size: 0.9rem;
    opacity: 0.7;
    display: block;
    padding-top: 0.4rem;
}


.sobre__tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 0; 
    background: var(--crema);
    border-radius: 8px;
    border-top: 1rem solid var(--crema-suave); 
}

.sobre__tabla th{
    padding: 0.8rem;
    border-bottom: 1px solid var(--borde-suave);
}


.sobre__tabla td {
    padding: 0.8rem;
    border-bottom: 1px solid var(--borde-suave);
}

.sobre__tabla th {
    background: var(--cafe-medio);
    color: var(--blanco);
}

.sobre__tabla-caption {
    font-weight: bold;
    padding-bottom: 0.5rem;
}



.sobre__persona {
    padding-bottom: 1.5rem;
}

.sobre__persona-nombre {
    font-size: 1.2rem;
    color: var(--cafe-medio);
    margin: 0;
    padding-bottom: 0.3rem;
}





/* ============================= */
/*             BLOG              */
/* ============================= */

.blog {
    padding: 2.5rem;
    padding-bottom: 5.5rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; 
}

.blog__intro {
    text-align: center;
    padding-bottom: 2rem;
}

.blog__titulo {
    font-family: var(--titulos);
    font-size: 2.3rem;
    color: var(--cafe-medio);
    margin: 0;
}

.blog__descripcion {
    max-width: 700px;
    padding-top: 0.5rem;
    margin-left: auto; 
    margin-right: auto; 
}

.blog__rejilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 1rem;
}

.entrada {
    background: var(--crema-suave);
    padding: 1.5rem;
    border-radius: 12px;
}

.entrada__figura {
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.entrada__imagen {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--sombra-media);
}

.entrada__leyenda {
    font-size: 0.9rem;
    opacity: 0.7;
    padding-top: 0.3rem;
    display: block;
}

.entrada__cabecera {
    padding-bottom: .8rem;
}

.entrada__titulo {
    font-family: var(--titulos);
    font-size: 1.4rem;
    color: var(--cafe-oscuro);
    margin: 0;
}

.entrada__meta {
    font-size: 0.9rem;
    opacity: 0.7;
    margin: 0;
}

.entrada__texto {
    line-height: 1.6;
    padding-top: 0.4rem;
    margin: 0;
}




/* ============================= */
/*           CONTACTO            */
/* ============================= */

.contacto {
    padding: 2.5rem;
    padding-bottom: 5.5rem; 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.contacto__intro {
    text-align: center;
    padding-bottom: 2rem;
}

.contacto__titulo {
    font-family: var(--titulos);
    font-size: 2.2rem;
    color: var(--cafe-medio);
    margin: 0;
}

.contacto__descripcion {
    max-width: 700px;
    padding-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.contacto__formulario {
    padding-top: 1.5rem;
}

.formulario__fieldset {
    background: var(--crema-suave);
    padding: 1.5rem;
    border-radius: 12px;
    border: none;
    margin: 0;
    border-bottom: 1.5rem solid var(--crema);
}

.formulario__leyenda {
    font-family: var(--titulos);
    font-size: 1.3rem;
    color: var(--cafe-oscuro);
    padding-bottom: 0.5rem;
}

.formulario__grupo {
    padding-top: 0.8rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.formulario__input {
    padding: 0.7rem;
    border-radius: 6px;
    border: 1px solid var(--input-borde);
    background: var(--blanco);
}

.formulario__grupo--checkbox {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.formulario__botones {
    padding-top: 1rem;
    margin: 0;
    display: flex;
    gap: 1rem;
}


.contacto__extra {
    padding-top: 3rem;
}

.contacto__extra-titulo {
    font-family: var(--titulos);
    font-size: 1.7rem;
    color: var(--cafe-oscuro);
    margin: 0;
}

.rejilla-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 1.5rem;
}

.contacto__imagen {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--sombra-media);
}

.contacto__leyenda {
    font-size: 0.9rem;
    opacity: 0.7;
    padding-top: 0.3rem;
    display: block;
}

.contacto__figure {
    margin: 0;
}

.contacto__address p {
    margin: 0;
    padding-bottom: 0.5rem;
}




/* ============================= */
/*           GALERÍA             */
/* ============================= */

.galeria {
    padding: 3rem 2rem;
    padding-bottom: 6rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 2rem;
}

.galeria__intro {
    text-align: center;
    padding-bottom: 2.5rem;
}

.galeria__titulo {
    font-family: var(--titulos);
    font-size: 2.3rem;
    color: var(--cafe-oscuro);
    margin: 0;
}

.galeria__descripcion {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.galeria__seccion {
    border-bottom: 3rem solid var(--crema);
    padding: 1.5rem;
    background: var(--crema-suave);
    border-radius: 12px;
}

.galeria__subtitulo {
    font-family: var(--titulos);
    font-size: 1.8rem;
    color: var(--cafe-medio);
    margin: 0;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--cafe-claro); 
}


.galeria__rejilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-top: 1.5rem; 
}

.galeria__item {
    margin: 0;
    background: var(--crema);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px var(--sombra-suave);
}

.galeria__imagen {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
}

.galeria__item:hover .galeria__imagen {
    transform: scale(1.05);
}

.galeria__leyenda {
    font-size: 0.95rem;
    opacity: 0.8;
    padding-top: 0.8rem;
    display: block;
    color: var(--texto);
}



/* ============================= */
/*         ASIDE FILTRO          */   /*nuevo*/
/* ============================= */
.galeria__aside {
    background: var(--crema-suave);
    padding: 1.5rem;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 4px 8px var(--sombra-aside);

    position: sticky;
    top: 2rem;
}

.galeria__filtro-titulo {
    font-family: var(--titulos);
    font-size: 1.4rem;
    color: var(--cafe-medio);
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--cafe-claro);
}

.galeria__filtro-lista {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

.galeria__filtro-lista li {
    margin-bottom: 0.8rem;
}

.galeria__filtro-boton {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: none;
    background: var(--crema);
    color: var(--texto);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.galeria__filtro-boton:hover {
    background: var(--cafe-medio);
    color: var(--blanco);
}


.galeria__intro,
.galeria__seccion {
    grid-column: 2;
}


/* parte del filtro con los botones mirar */
.galeria__card {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.galeria__card--oculta {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    position: absolute;
}

.galeria__filtro-boton--activo {
    background: var(--cafe-medio);
    color: var(--blanco);
}

/* Separar la sublista del botón padre */
.galeria__sublista {
    margin-top: 0.5rem;
    padding-left: 3rem;
}



/* ============================= */
/*         boton oscuro          */   /*nuevo*/
/* ============================= */
.modo-boton {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    background: var(--cafe-medio);
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.modo-boton:hover {
    transform: scale(1.1);
}

/* Modo claro forzado */
body.modo-claro {
    --cafe-oscuro: #4b2e19;
    --cafe-medio: #7a5230;
    --cafe-claro: #bfa58a;
    --crema: #f7f2eb;
    --crema-suave: #f3e9db;
    --texto: #3b3028;
    --blanco: #ffffff;
    background: var(--crema);
    color: var(--texto);
}

/* Modo oscuro forzado */
body.modo-oscuro {
    --cafe-oscuro: #ffffff;
    --cafe-medio: #b3b3b3;
    --cafe-claro: #444444;
    --crema: #222222;
    --crema-suave: #121212;
    --texto: #f5f5f5;
    --blanco: #333333;
    background: var(--crema-suave);
    color: var(--texto);
}


/* =================================== */
/*  media del modo oscuro por defecto  */
/* =================================== */

@media (prefers-color-scheme: dark) {
    

    :root {
        --color-fondo: #080808;
        --cafe-oscuro: #ffffff; 
        --cafe-medio: #b3b3b3;  
        --cafe-claro: #444444;  
        --crema: #222222;     
        --crema-suave: #121212; 
        --texto: #f5f5f5;
        --blanco: #333333;    

    }


    body {
        background: var(--crema-suave);
    }

    .encabezado {
        background: var(--color-fondo);
        color:var(--texto); 
    }

    .navegacion__enlace {
        color:var(--texto);
    }

    
    .pie {
        background: #000000;
        color: #f5f5f5;
    }
    .pie__contenedor {
        border-bottom: 1px solid #333333;
    }
    .pie__enlace {
        color: var(--cafe-medio); 
    }
    .pie__copy {
        color: #888888;
    }

    .servicios__categoria {
    border-bottom: 3rem solid var(--crema-suave); 
    }

    .sobre__bloque {
    border-bottom: 2.5rem solid var(--crema-suave);
    }

    .formulario__fieldset {
    border-bottom: 1.5rem solid var(--crema-suave);
    }

    .galeria__seccion {
    border-bottom: 3rem solid var(--crema-suave);
    }


    .formulario__input {
        background: var(--blanco); 
        border: 1px solid #555555;
        color: var(--texto);
    }
    
    .bienvenida__boton{
        background: var(--cafe-oscuro); 
        color: var(--crema-suave); 
    }
    .bienvenida__boton:hover {
        background: var(--cafe-medio);
        color: var(--crema-suave);
    }

}



/*  Media nueva  */

@media (max-width: 900px) {
    .galeria {
        grid-template-columns: 1fr;
    }

    .galeria__aside {
        order: -1;
    }

    .galeria__intro,
    .galeria__seccion {
        grid-column: auto;
    }
}
